<section id="inicio" class="hero-section">
  <div class="hero-content">
    <p class="welcome-tag">BIENVENIDO A MI PORTFOLIO</p>

    <h1 class="main-title">
      Sandra <span class="gradient-text">&lt;&lt;DeTena/&gt;&gt;</span>
    </h1>

    <h2 class="typing-container">
      <span class="typed-text">{{ currentRole }}</span><span class="cursor">|</span>
    </h2>

    <p class="bio-text">
      Como decía Audrey Hepburn: <em>"Nothing is impossible, the word itself says 'I'm possible!'"</em>.
      Mi propuesta de valor nace de una trayectoria híbrida donde la estrategia y la tecnología se dan la mano.
      He vivido el proyecto desde todos sus ángulos: como <strong>Ejecutiva de Cuentas</strong>, gestionando las
      expectativas del cliente y entendiendo sus necesidades de negocio; como <strong>Diseñadora Gráfica</strong>, dando
      forma visual a esas ideas; y ahora como <strong>Full Stack Developer</strong>, materializando soluciones robustas.
      <br><br>
      No solo desarrollo aplicaciones en <strong>Angular y Java</strong>, sino que construyo herramientas que responden
      a una estrategia de comunicación real, asegurando que el código sea tan eficiente como la relación con el cliente.
    </p>

    <div class="cta-group">
      <button class="btn-main">Ver Proyectos</button>
      <a href="CV-Sandra_De_Tena_Full-Stack Developer_2026.ES.pdf" download="CV_Sandra_DeTena_2026.pdf"
        class="btn-sub">Descargar CV</a>
    </div>

    <div class="social-links">
      <a href="https://www.linkedin.com/in/sandradetena/" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/SandraDeTena" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.behance.net/sandradetenacv" target="_blank"><i class="bi bi-behance"></i></a>
    </div>
  </div>

  <div class="hero-visual">
    <div class="image-container">
      <img src="Yo 2026_Perfil.PNG" alt="Sandra De Tena" class="profile-img">
      <img src="Sandra Logo Vertical.png" alt="Logo Sandra" class="floating-logo">
    </div>
  </div>
</section>

<!-- SECCIÓN SKILL -->

<section id="skills" class="skills-section">
  <div class="skills-container">
    <h2 class="section-title">Professional Stack & Creative Tools</h2>

    <div class="skills-grid">
      <div class="skill-category">
        <h3>Creative Stack</h3>
        <div class="icons-wrapper">
          <div class="skill-item">
            <img src="Photoshop_Acuarela.png" alt="Photoshop">
            <span>Photoshop</span>
          </div>
          <div class="skill-item">
            <img src="ILLUSTRATOR_Acuarela.png" alt="Illustrator">
            <span>Illustrator</span>
          </div>
          <div class="skill-item">
            <img src="InDesing_Acuarela.png" alt="InDesign">
            <span>InDesign</span>
          </div>
          <div class="skill-item">
            <img src="After Effects_Acuarela.png" alt="After Effects">
            <span>After Effects</span>
          </div>
          <div class="skill-item">
            <img src="Premiere_Acuarela.png" alt="Premiere">
            <span>Premiere</span>
          </div>
          <div class="skill-item">
            <img src="Auditions_Acuarela.png" alt="Auditions">
            <span>Auditions</span>
          </div>
          <div class="skill-item">
            <img src="Spark AR_logo.png" alt="Spark AR">
            <span>Spark AR</span>
          </div>
          <div class="skill-item">
            <img src="Cámara de Fotod_Acuarela.png" alt="Phtografic">
            <span>Fotografía</span>
          </div>
          <div class="skill-item">
            <img src="Cámara de vídeo_Acuarela.png" alt="Video">
            <span>Vídeo</span>
          </div>
          <div class="skill-item">
            <img src="wordpress_png.png" alt="Wordpress">
            <span>Wordpress</span>
          </div>
        </div>
      </div>

      <div class="skill-category">
        <h3>Tech Stack</h3>
        <div class="icons-wrapper">
          <div class="skill-item">
            <img src="Angular_full_color_logo.svg.png" alt="Angular">
            <span>Angular</span>
          </div>
          <div class="skill-item">
            <img src="js.png" alt="JavaScript">
            <span>JavaScript</span>
          </div>
          <div class="skill-item">
            <img src="git.png" alt="Git">
            <span>Git</span>
          </div>
          <div class="skill-item">
            <img src="github.png" alt="Github">
            <span>Github</span>
          </div>
          <div class="skill-item">
            <img src="1280px-Node.js_logo.svg.png" alt="Node.js">
            <span>Node.js</span>
          </div>
          <div class="skill-item">
            <img src="MySQL-Logo.wine.png" alt="MySQL">
            <span>MySQL</span>
          </div>
          <div class="skill-item">
            <img src="sass.png" alt="Sass">
            <span>Sass</span>
          </div>
          <div class="skill-item">
            <img src="bootstrap-4.svg" alt="Bootstrap">
            <span>Bootstrap</span>
          </div>
          <div class="skill-item">
            <img src="SQL_96.png" alt="SQL">
            <span>SQL</span>
          </div>
          <div class="skill-item">
            <img src="java.svg" alt="JAVA">
            <span>JAVA</span>
          </div>
          <div class="skill-item">
            <img src="figma-logo-22789.svg" alt="Figma">
            <span>Figma</span>
          </div>
          <div class="skill-item">
            <img src="tailwind-css-logo-vector.svg" alt="Tailwind">
            <span>Tailwind</span>
          </div>
          <div class="skill-item">
            <img src="css3.png" alt="CSS">
            <span>CSS3</span>
          </div>
          <div class="skill-item">
            <img src="jira-original-wordmark.svg" alt="JIRA">
            <span>JIRA</span>
          </div>
          <div class="skill-item">
            <img src="visual-studio-code.png" alt="Visual Studio">
            <span>Visual Studio</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TRAYECTORIA PROFESIONAL -->
<section id="experiencia" class="experience-section">
  <h2 class="section-title">Trayectoria Profesional</h2>

  <div class="timeline-container">

    <div class="experience-card">
      <div class="company-main">
        <img src="inetum_logo.png" alt="Inetum" class="company-logo-img">
        <div class="company-details">
          <h3>Inetum</h3>
          <p class="total-time">Jornada completa · 2 años 10 meses</p>
        </div>
      </div>

      <div class="inner-projects">

        <div class="project-block">
          <div class="timeline-dot"></div>
          <div class="project-info">
            <h4>Desarrolladora Front-End – Proyecto ServiceBooster</h4>
            <span class="dates">jul. 2025 - actualidad · 8 meses | Teletrabajo · En remoto</span>
            <p>Participación en la modernización y evolución de una aplicación corporativa existente, orientada al
              análisis y visualización de métricas de negocio y crecimiento.</p>
            <p><strong>🔹 ¿Qué es ServiceBooster?</strong> Es una aplicación interna para monitorizar la evolución de
              servicios y métricas clave. Consistió en una migración tecnológica completa, mejorando arquitectura y
              experiencia de usuario.</p>
            <p><strong>⚡ Funcionalidades:</strong> Migración de Angular 2 a 16+, refactorización de routing y módulos,
              desarrollo de menú lateral dinámico e implementación de gráficas interactivas con RxJS.</p>
            <div class="tech-pills">
              <span class="pill-tech">Angular 16+</span><span class="pill-tech">TypeScript</span><span
                class="pill-tech">RxJS</span><span class="pill-tech">Tailwind CSS</span><span
                class="pill-tech">Docker</span><span class="pill-tech">Git</span>
            </div>
          </div>
        </div>

        <div class="project-block">
          <div class="timeline-dot"></div>
          <div class="project-info">
            <h4>Desarrolladora de front-end - Proceso de Defensa para el Ejército del Aire 🚀</h4>
            <span class="dates">nov. 2023 - jul. 2025 · 1 año 9 meses | Híbrido</span>
            <p>Modernización del Sistema Logístico SL2000E para la gestión, planificación y mantenimiento de activos
              estratégicos y aeronaves.</p>
            <p><strong>🔹 ¿Qué es el SL2000E?</strong>El SL2000 es un sistema logístico clave en el Ejército del Aire,
              diseñado para la gestión, planificación y mantenimiento de activos estratégicos, asegurando la
              disponibilidad operativa de aeronaves y componentes. Con la actualización a SL2000E, se ha llevado a cabo
              una migración tecnológica para mejorar rendimiento, seguridad e integración con nuevos sistemas.</p>
            <p><strong>⚡Funcionalidades:</strong> Creación de librería propia basada en PrimeNG, implementación de CRUD
              dinámico y Form Builder, mapeo de datos con servicios genéricos y optimización de rendimiento con RxJS.
            </p>
            <div class="tech-pills">
              <span class="pill-tech">Angular 13</span><span class="pill-tech">PrimeNG</span><span
                class="pill-tech">Swagger</span><span class="pill-tech">JIRA</span><span class="pill-tech">APIs
                RESTful</span><span class="pill-tech">Git</span>
            </div>
          </div>
        </div>

        <div class="project-block">
          <div class="timeline-dot"></div>
          <div class="project-info">
            <h4>Desarrollador de front-end - Proyecto Chronos para Salut Emergències</h4>
            <span class="dates">may. 2023 - nov. 2023 · 7 meses | En remoto</span>
            <p>Sistema de Gestión de Emergencias Médicas de Barcelona. Implementación de tecnologías para la gestión de
              datos en tiempo real.</p>
            <p><strong>⚡ Funcionalidades:</strong> Manejo de datos con PrimeNG, integración de servicios backend a
              través de Swagger y colaboración en entornos DevOps con Azure DevOps.</p>
            <div class="tech-pills">
              <span class="pill-tech">Angular</span><span class="pill-tech">UI/UX</span><span
                class="pill-tech">PrimeNG</span><span class="pill-tech">Azure DevOps</span><span
                class="pill-tech">Postman</span><span class="pill-tech">Git</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ADEREN -->
    <div class="experience-card">
      <div class="company-main">
        <img src="aderen_logo.png" alt="ADEREN" class="company-logo-img">
        <div class="company-details">
          <h3>ADEREN</h3>
          <p class="total-time">Jornada completa · 6 meses</p>
        </div>
      </div>
      <div class="project-info aderen-text-block">
        <h4>Desarrolladora de front-end</h4>
        <span class="dates">oct. 2022 - mar. 2023 · 6 meses | En remoto</span>
        <p>
          Desarrollo de componentes en Angular y Angular Material en proyectos para el sector público, siguiendo
          estándares de accesibilidad y buenas prácticas de desarrollo front-end, en colaboración con equipos
          multidisciplinares.
        </p>
        <div class="tech-pills">
          <span class="pill-tech">Angular</span><span class="pill-tech">Angular Material</span><span
            class="pill-tech">HTML</span><span class="pill-tech">CSS</span>
        </div>
      </div>
    </div>
    <!-- ENTELGY -->
    <div class="experience-card">
      <div class="company-main">
        <img src="entelgy_logo.png" alt="Entelgy" class="company-logo-img">
        <div class="company-details">
          <h3>Entelgy</h3>
          <p class="total-time">Jornada completa · 8 meses</p>
        </div>
      </div>
      <div class="project-info entelgy-text-block">
        <h4>Desarrolladora de front-end</h4>
        <span class="dates">mar. 2022 - oct. 2022 · 8 meses | Híbrido</span>
        <p>
          Participación en el desarrollo de una herramienta de ciberseguridad para la gestión de vulnerabilidades
          detectadas por hackers éticos, implementando el frontend con Angular, gestión de información mediante SQL y
          validación del sistema mediante pruebas funcionales.
        </p>
        <div class="tech-pills">
          <span class="pill-tech">Angular</span><span class="pill-tech">SQL</span><span
            class="pill-tech">Git</span><span class="pill-tech">GitLab</span><span class="pill-tech">CSS</span>
        </div>
      </div>
    </div>
    <!-- VIEWNEXT -->
    <div class="experience-card">
      <div class="company-main">
        <img src="viewnext_logo.png" alt="VIEWNEXT" class="company-logo-img">
        <div class="company-details">
          <h3>VIEWNEXT</h3>
          <p class="total-time">Jornada completa · 7 meses</p>
        </div>
      </div>
      <div class="project-info viewnext-text-block">
        <h4>Desarrolladora de front-end</h4>
        <span class="dates">sept. 2021 - mar. 2022 · 7 meses | En remoto</span>
        <p>
          Desarrollo de la plataforma ECURED para Caser, orientada al registro y gestión de colaboradores, mediante la
          implementación de formularios dinámicos y flujos CRUD en Angular, siguiendo buenas prácticas de desarrollo
          front-end y control de versiones con Git/GitLab.
        </p>
        <div class="tech-pills">
          <span class="pill-tech">Angular</span><span class="pill-tech">Git</span><span
            class="pill-tech">GitLab</span><span class="pill-tech">HTML</span><span class="pill-tech">CSS</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SECCIÓN PROYECTOS  -->
<section id="proyectos" class="projects-wrapper">

  <div class="facet-switch">
    <button (click)="setFacet('dev')" [class.active]="facet === 'dev'">
      <i class="bi bi-code-slash"></i> &lt;&lt; Developer /&gt;&gt;
    </button>
    <button (click)="setFacet('design')" [class.active]="facet === 'design'">
      <i class="bi bi-palette"></i> Diseño Gráfico
    </button>
  </div>

  <div class="projects-container" [ngClass]="facet">

    <div *ngIf="facet === 'dev'" class="bg-animation code-rain">
      <div class="code-block" *ngFor="let i of [1,2,3,4]">
        <div class="code-line"><span class="vs-purple">import</span> {{ '{' }} <span class="vs-yellow">Component</span>
          {{ '}' }} <span class="vs-purple">from</span> <span class="vs-orange">'@angular/core'</span>;</div>
        <div class="code-line"><span class="vs-gold">@Component</span>({{ '{' }} <span class="vs-blue">selector</span>:
          <span class="vs-orange">'app-root'</span> {{ '}' }})</div>
        <div class="code-line"><span class="vs-purple">export class</span> <span class="vs-yellow">SandraDev</span> {{
          '{' }} <span class="vs-blue">status</span> = <span class="vs-orange">'coding'</span>; {{ '}' }}</div>
      </div>
    </div>

    <div *ngIf="facet === 'design'" class="bg-animation paint-bg">
      <img src="Salpicadura de pintura.png" alt="Splash" class="splash-img">
    </div>

    <div class="projects-grid">

      <ng-container *ngIf="facet === 'dev'">
        <article class="p-card">
          <div class="p-img-wrapper"><img src="assets/img/saytatto.jpg" alt="Say Tatto"></div>
          <div class="p-info">
            <h3>Say Tatto</h3>
            <p>Gestión Full Stack para estudios de tatuajes con Angular y Java.</p>
            <div class="p-links">
              <a href="https://github.com/SandraDeTena" target="_blank" class="btn-project btn-main">
                <i class="bi bi-github"></i> GitHub
              </a>
              <a href="https://sandradetena.github.io/say-tatto" target="_blank" class="btn-project btn-sub">
                <i class="bi bi-globe"></i> Web
              </a>
            </div>
          </div>
        </article>

        <article class="p-card">
          <div class="p-img-wrapper"><img src="assets/img/diabetes_control.jpg" alt="Diabetes App"></div>
          <div class="p-info">
            <h3>Diabetes Control</h3>
            <p>Dashboard de salud interactivo para monitorización de glucosa.</p>
            <div class="p-links">
              <a href="https://github.com/SandraDeTena" target="_blank" class="btn-project btn-main">
                <i class="bi bi-github"></i> GitHub
              </a>
            </div>
          </div>
        </article>
      </ng-container>

      <ng-container *ngIf="facet === 'design'">
        <article class="p-card">
          <div class="p-img-wrapper"><img src="Museo del Prado.PNG" alt="Fragmentos del Prado"></div>
          <div class="p-info">
            <h3>#FragmentosDelPrado - Filtro para el Museo Nacional del Prado</h3>
            <p>
              <strong>#FragmentosDelPrado</strong> es un filtro interactivo creado para el
              <strong>Museo Nacional del Prado</strong> con motivo de la exposición temporal
              <em>Fragmentos. Mujeres, ideología y artes plásticas en España (1833–1931)</em>.
            </p>
            <div class="used-tools">
              <img src="InDesing_Acuarela.png" alt="ID"> <img src="Photoshop_Acuarela.png" alt="PS"> <img
                src="Spark AR_logo.png" alt="SP">
            </div>
            <a href="https://www.behance.net/gallery/99811455/FragmentosDelPrado" target="_blank"
              class="btn-project btn-main">
              <i class="bi bi-behance"></i> Behance
            </a>
          </div>
        </article>

        <article class="p-card">
          <div class="p-img-wrapper"><img src="NIO-Art.PNG" alt="NI9 ART"></div>
          <div class="p-info">
            <h3>NI9 ART Movement</h3>
            <p> Los usuarios participarán creando obras con objetos cotidianos o de forma virtual, que se difundirán a través de redes sociales, web y newsletter del museo bajo el hashtag <strong>#MovimientoArteN19</strong>. </p>
            <div class="used-tools">
              <img src="ILLUSTRATOR_Acuarela.png" alt="AI"> <img src="Photoshop_Acuarela.png" alt="PS"> <img src="figma-logo-22789.svg" alt="Figma">
            </div>
            <a href="https://www.behance.net/gallery/110384961/NI9-ART-Movement" target="_blank"
              class="btn-project btn-main">
              <i class="bi bi-behance"></i> Behance
            </a>
          </div>
        </article>

        <article class="p-card">
          <div class="p-img-wrapper"><img src="Boadilla_gourmet.PNG" alt="Boadilla Gourmet"></div>
          <div class="p-info">
            <h3>Boadilla Gourmet</h3>
            <p>Diseño de marca y packaging para el sector gastronómico.</p>
            <div class="used-tools">
              <img src="ILLUSTRATOR_Acuarela.png" alt="AI"> <img src="InDesing_Acuarela.png" alt="ID"><img src="Photoshop_Acuarela.png" alt="PS">
            </div>
            <a href="https://www.behance.net/gallery/114626195/Boadilla-Gourmet" target="_blank"
              class="btn-project btn-main">
              <i class="bi bi-behance"></i> Behance
            </a>
          </div>
        </article>

        <article class="p-card">
          <div class="p-img-wrapper"><img src="dulce_oasis.PNG" alt="Dulce Oasis"></div>
          <div class="p-info">
            <h3>Dulce Oasis 🍩🍫</h3>
            <p>Branding completo e identidad de marca para repostería.</p>
            <div class="used-tools">
              <img src="ILLUSTRATOR_Acuarela.png" alt="AI"> <img src="Photoshop_Acuarela.png" alt="PS">
            </div>
            <a href="https://www.behance.net/gallery/119476627/Dulce-Oasis-_Identidad-de-Marca" target="_blank"
              class="btn-project btn-main">
              <i class="bi bi-behance"></i> Behance
            </a>
          </div>
        </article>

        <article class="p-card">
          <div class="p-img-wrapper"><img src="Mujer_Bombay.PNG" alt="Dulce Oasis"></div>
          <div class="p-info">
            <h3>`•．¸¸．•´´¯`••．_．• 𝑴𝒖𝒋𝒆𝒓 𝑩𝒐𝒎𝒃𝒂𝒚 `•．¸¸．•´´¯`••．_．• </h3>
            <p> Proyecto creativo que explora la unión entre concepto y diseño visual, utilizando la composición y el color como elementos clave para transmitir una idea clara y contemporánea. </p>

            <div class="used-tools">
              <img src="ILLUSTRATOR_Acuarela.png" alt="AI"> <img src="Photoshop_Acuarela.png" alt="PS">
            </div>
            <a href="https://www.behance.net/gallery/114548805/-_" target="_blank"
              class="btn-project btn-main">
              <i class="bi bi-behance"></i> Behance
            </a>
          </div>
        </article>

        <article class="p-card">
          <div class="p-img-wrapper"><img src="Cambio_16.PNG" alt="Dulce Oasis"></div>
          <div class="p-info">
            <h3>Heroínas por un mundo mejor.</h3>
            <p> Ilustración gráfica para la portada de la revista <em>Cambio 16</em>, inspirada en un artículo sobre 25 héroes que ayudan a personas y animales en zonas de conflicto, donde la figura de la mujer árabe simboliza la fuerza y el papel creciente de las mujeres en el mundo actual. </p>
            <div class="used-tools">
              <img src="ILLUSTRATOR_Acuarela.png" alt="AI"> <img src="Photoshop_Acuarela.png" alt="PS">
            </div>
            <a href="https://www.behance.net/gallery/81927141/Heroinas-por-un-mundo-mejor" target="_blank"
              class="btn-project btn-main">
              <i class="bi bi-behance"></i> Behance
            </a>
          </div>
        </article>
      </ng-container>

    </div>
  </div>
</section>

<!-- /* Esto es el CONTACTO y el FOOTER*/ -->
<section id="contacto" class="contact-section">
  <div class="contact-container">
    <h2 class="section-title">¿Hablamos?</h2>
    <p class="contact-subtitle">
      Ya sea para un proyecto de desarrollo, un diseño creativo o simplemente para saludar, 
      mi bandeja de entrada siempre está abierta.
    </p>

    <div class="contact-grid">
      <div class="contact-info">
        <div class="info-item">
          <i class="bi bi-envelope-at"></i>
          <div>
            <h4>Email</h4>
            <a href="mailto:tu-email@ejemplo.com">sandradetena@ejemplo.com</a>
          </div>
        </div>
        <div class="info-item">
          <i class="bi bi-geo-alt"></i>
          <div>
            <h4>Ubicación</h4>
            <p>Madrid, España (Disponible para remoto)</p>
          </div>
        </div>
      </div>

      <form class="contact-form">
        <div class="form-group">
          <input type="text" placeholder="Nombre" required>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <textarea placeholder="Tu mensaje" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn-main">Enviar Mensaje</button>
      </form>
    </div>
  </div>
</section>

<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <span class="gradient-text">&lt;&lt;SandraDeTena/&gt;&gt;</span>
    </div>
    
    <nav class="footer-nav">
      <a href="#inicio">Inicio</a>
      <a href="#skills">Skills</a>
      <a href="#experiencia">Trayectoria</a>
      <a href="#proyectos">Proyectos</a>
    </nav>

    <div class="footer-social">
      <a href="https://www.linkedin.com/in/sandradetena/" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/SandraDeTena" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.behance.net/sandradetenacv" target="_blank"><i class="bi bi-behance"></i></a>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; 2026 Sandra De Tena. Hecho con <i class="bi bi-heart-fill"></i>, Angular y una pizca de diseño.</p>
  </div>
</footer>