/* You can add global styles to this file, and also import other style files */
:root {
  --pink: #D48A9B;
  --orange: #F7941E;
  --yellow: #FBB03B;
  --dark: #4C4348;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}