<nav class="navbar-container">
  <div class="nav-content">
    <div class="nav-brand">
      <img src="Sandra Logo Horizontal.png" alt="Sandra DeTena Logo" class="vertical-logo">
    </div>

    <ul class="nav-links">
      <li><a href="#inicio">INICIO</a></li>
      <li><a href="#skills">SKILLS</a></li>
      <li><a href="#experiencia">TRAYECTORIA</a></li>
      
      <li class="proyectos-item">
        <a href="#proyectos" class="proyectos-link">PROYECTOS</a>
        <div class="nav-buttons-inline">
          <button class="btn-toggle code" (click)="toggleView('dev')">Developer/></button>
          <button class="btn-toggle art" (click)="toggleView('design')">Designer 🎨</button>
        </div>
      </li>

      <!-- <li><a href="#contacto">CONTACTO</a></li>  Esto es la parte de "Conacto" del Navbar -->
    </ul>
  </div>
</nav>