<nav class="navbar-container">
  <div class="nav-content">
    <div class="nav-brand">
      <img src="Sandra Logo Horizontal.png" alt="Sandra DeTena/> Logo" class="vertical-logo">
    </div>

    <ul class="nav-links">
      <li><a routerLink="/inicio">INICIO</a></li>
      <li><a routerLink="/skills">SKILLS</a></li>
      <li><a routerLink="/experiencia">EXPERIENCIA</a></li>
      
      <li class="proyectos-item">
        <a routerLink="/proyectos" class="proyectos-link">PROYECTOS</a>
        <div class="nav-buttons-inline">
          <button class="btn-toggle code" (click)="toggleView('dev')">Developer/></button>
          <button class="btn-toggle art" (click)="toggleView('design')">Designer</button>
        </div>
      </li>

      <li><a routerLink="/contacto">CONTACTO</a></li>
    </ul>
  </div>
</nav>